In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [5]:
encoder = LabelEncoder()
df['Species'] = encoder.fit_transform(df['Species'])
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [6]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species            int32
dtype: object

In [7]:
X, y = df.iloc[:, 1:-1], df.iloc[:, -1]

In [8]:
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=21)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((112, 4), (38, 4), (112,), (38,))

In [9]:
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [10]:
models = {
    'logistic_regression': LogisticRegression(),
    'knn': KNeighborsClassifier(),
    'random_forest': RandomForestClassifier(),
    'svm': SVC(),
}

In [12]:
for name, model in models.items():
    model.max_iter = 500
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    mse = mean_squared_error(y_test, y_pred)
    print(f'''model name : {name}
            \r     score : {model.score(x_test, y_test)}
            \r       mse : {mse}\n''')

model name : logistic_regression
     score : 0.8421052631578947
       mse : 0.15789473684210525

model name : knn
     score : 0.9736842105263158
       mse : 0.02631578947368421

model name : random_forest
     score : 0.9210526315789473
       mse : 0.07894736842105263

model name : svm
     score : 0.9210526315789473
       mse : 0.07894736842105263

# Conclusion

knn model has the best hight score and and best low mse. <br>
so u choose KNN to be my model.